  <div class="container">
    <div class="row">        
      <div class="col-md-12">
        <div class="card">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- <div class="navbar-header">
                        <a routerLink="/" class= navbar-brand>ATM Menu</a>
                    </div> -->
                    
                    <div class="navbar-default">
                        <ul class="nav navbar-nav">

                            <li routerLinkActive="active" *ngIf="!isAuthenticated">
                                <a routerLink="/auth">Login</a>
                            </li>

                            <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                                <a style="cursor: pointer;" class="dropdown-toggle"  role="button" >Balance Inquiry <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a routerLink="/inquiry-savings">Savings</a></li>
                                    <li><a href="#" >Current</a></li>
                                </ul>
                            </li>

                            <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                                <a style="cursor: pointer;" class="dropdown-toggle" role="button" >Deposit <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a routerLink="/deposit-savings">Savings</a></li>
                                    <li><a href="#" >Current</a></li>
                                </ul>
                            </li>
                            
                            <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                                <a style="cursor: pointer;" class="dropdown-toggle" role="button" >Withdrawal <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a routerLink="/withdrawal-savings">Savings</a></li>
                                    <li><a href="#" >Current</a></li>
                                </ul>
                            </li>
                                                        
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li *ngIf="isAuthenticated">
                                <a style="cursor: pointer;" (click)="onLogout()" >Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>        
      </div>  
        
    </div>        
  </div>

